In [2]:
import pandas as pd

In [3]:
pd.options.display.float_format = '{:,.2f}'.format

In [4]:
locations = pd.read_csv("results.csv")
locations

,slug,EU,UN,US,Canada,UK
0,afghanistan,253.23,96.00,15.00,nan,nan
1,albania-tirana,nan,193.00,285.00,42.79,82.88
2,albania,212.00,78.00,131.00,34.23,nan
3,algeria-algiers,nan,420.00,255.00,135.23,85.97
4,algeria,391.03,171.00,304.00,108.19,nan
5,andorra,nan,nan,332.00,nan,nan
6,angola-luanda,nan,530.00,575.00,264.34,80.61
7,angola,445.21,159.00,575.00,211.47,nan
8,anguilla-the-valley,nan,nan,440.00,174.44,nan
9,antarctica,nan,nan,1.00,nan,nan
10,antigua-and-barbuda-st.-john's,nan,nan,nan,226.45,nan
11,argentina-buenos-aires,nan,229.00,396.00,97.26,16.04
12,argentina,286.21,108.00,292.00,77.81,nan
13,armenia-yerevan,nan,158.00,240.00,82.50,66.76
14,aruba-(kingdom-of-the-netherlands)-oranjestad,nan,nan,nan,141.70,nan
15,australia-adelaide,nan,nan,301.00,165.70,132.25
16,australia-brisbane,nan,nan,287.00,181.17,117.60
17,australia-canberra,nan,nan,310.00,152.31,123.61
18,australia-hobart,nan,nan,322.00,153.99,129.25
19,australia-melbourne,nan,nan,365.00,177.35,177.71
20,australia-perth,nan,nan,376.00,173.63,143.52
21,australia-sydney,nan,nan,397.00,190.69,146.53
22,australia,387.50,238.00,256.00,121.84,nan
23,austria-graz,nan,nan,384.00,158.89,nan
24,austria-salzburg,nan,nan,396.00,163.16,nan
25,austria-vienna,nan,nan,374.00,188.81,105.41
26,austria,265.00,301.00,377.00,151.05,nan
27,azerbaijan-baku,nan,256.00,361.00,120.25,50.31
28,azores-ponta-delgada,nan,nan,nan,nan,nan
29,bahamas-nassau,nan,nan,nan,170.08,nan
...,...,...,...,...,...,...
1791,uganda-mbale,nan,nan,146.00,nan,nan
1792,united-kingdom-belfast,nan,nan,330.00,nan,nan
1793,united-kingdom-birmingham,nan,nan,260.00,nan,nan
1794,united-kingdom-bristol,nan,nan,317.00,nan,nan
1795,united-kingdom-cambridge,nan,nan,436.00,nan,nan
1796,united-kingdom-cardiff-wales,nan,nan,279.00,nan,nan
1797,united-kingdom-caversham,nan,nan,380.00,nan,nan
1798,united-kingdom-cheltenham,nan,nan,278.00,nan,nan
1799,united-kingdom-crawley,nan,nan,522.00,nan,nan
1800,united-kingdom-edinburgh,nan,nan,794.00,nan,nan
1801,united-kingdom-fairford,nan,nan,283.00,nan,nan
1802,united-kingdom-gatwick,nan,nan,323.00,nan,nan
1803,united-kingdom-glasgow,nan,nan,276.00,nan,nan
1804,united-kingdom-harrogate,nan,nan,205.00,nan,nan
1805,united-kingdom-high-wycombe,nan,nan,270.00,nan,nan
1806,united-kingdom-horley,nan,nan,323.00,nan,nan
1807,united-kingdom-liverpool,nan,nan,381.00,nan,nan
1808,united-kingdom-loudwater,nan,nan,266.00,nan,nan
1809,united-kingdom-manchester,nan,nan,398.00,nan,nan
1810,united-kingdom-menwith-hill,nan,nan,205.00,nan,nan
1811,united-kingdom-oxford,nan,nan,453.00,nan,nan
1812,united-kingdom-reading,nan,nan,380.00,nan,nan
1813,venezuela-barquisimeto,nan,nan,562.00,nan,nan
1814,venezuela-porlamar,nan,nan,547.00,nan,nan
1815,venezuela-puerto-la-cruz,nan,nan,484.00,nan,nan
1816,vietnam-dalat,nan,nan,244.00,nan,nan
1817,vietnam-danang,nan,nan,241.00,nan,nan
1818,virgin-islands-british,nan,nan,238.00,nan,nan
1819,wallis-and-futuna,nan,nan,137.00,nan,nan
1820,yemen-sanaa,nan,nan,455.00,nan,nan

In [63]:
locations.describe()

          EU       UN       US       Canada       UK
count 209.00 1,061.00 1,050.00       376.00   289.00
mean  279.52   211.82   284.32     6,411.37   113.85
std    82.12   103.16   107.25   122,073.55   488.19
min   102.47    42.00     1.00         0.01     0.02
25%   228.49   135.00   211.25        81.89    59.25
50%   266.18   190.00   274.00       107.77    84.12
75%   325.07   272.00   346.50       149.01   104.02
max   500.56   710.00   796.00 2,367,209.74 8,362.38

In [64]:
locations['EU diff'] = (locations['US'] - locations['EU']) / locations['US']
locations['UN diff'] = (locations['US'] - locations['UN']) / locations['US']
locations['Canada diff'] = (locations['US'] - locations['Canada']) / locations['US']
locations['UK diff'] = (locations['US'] - locations['UK']) / locations['US']

In [65]:
diffs = locations[['EU diff','UN diff','Canada diff','UK diff']]

In [66]:
diffs.describe()

       EU diff  UN diff  Canada diff  UK diff
count   174.00   445.00       316.00   209.00
mean     -0.40     0.01         0.58     0.58
std       1.52     2.10         0.42     2.11
min     -15.88   -39.55        -5.80   -29.74
25%      -0.57    -0.00         0.53     0.66
50%      -0.12     0.21         0.61     0.73
75%       0.08     0.39         0.69     0.83
max       0.66     0.90         1.00     1.00