In [39]:
import pandas as pd

In [40]:
pd.options.display.float_format = '{:,.2f}'.format

In [41]:
rates = pd.read_csv("results.csv")
rates

,jurisdiction,slug,location,season,total,mealsAndIncidentals
0,Canada,albania-tirana,Tirana,NaN,42.38,nan
1,Canada,albania,Other,NaN,33.90,nan
2,Canada,algeria-algiers,Algiers,NaN,134.44,nan
3,Canada,algeria,Other,NaN,107.56,nan
4,Canada,angola-luanda,Luanda,NaN,262.80,nan
5,Canada,angola,Other,NaN,210.24,nan
6,Canada,anguilla-the-valley,The Valley,NaN,174.44,nan
7,Canada,antigua-and-barbuda-st.-john's,St. John's,NaN,226.45,nan
8,Canada,argentina-buenos-aires,Buenos Aires,NaN,95.03,nan
9,Canada,argentina,Other,NaN,76.02,nan
10,Canada,armenia-yerevan,Yerevan,NaN,82.50,nan
11,Canada,aruba-(kingdom-of-the-netherlands)-oranjestad,Oranjestad,NaN,141.70,nan
12,Canada,australia-adelaide,Adelaide,NaN,166.94,nan
13,Canada,australia-brisbane,Brisbane,NaN,182.53,nan
14,Canada,australia-canberra,Canberra,NaN,153.45,nan
15,Canada,australia-hobart,Hobart,NaN,155.14,nan
16,Canada,australia-melbourne,Melbourne,NaN,178.68,nan
17,Canada,australia-perth,Perth,NaN,174.93,nan
18,Canada,australia-sydney,Sydney,NaN,192.12,nan
19,Canada,australia,Other,NaN,122.76,nan
20,Canada,austria-graz,Graz,NaN,157.37,nan
21,Canada,austria-salzburg,Salzburg,NaN,161.61,nan
22,Canada,austria-vienna,Vienna,NaN,187.01,nan
23,Canada,austria,Other,NaN,149.61,nan
24,Canada,azerbaijan-baku,Baku,NaN,120.25,nan
25,Canada,bahamas-nassau,Nassau,NaN,170.08,nan
26,Canada,bahrain-manama,Manama,NaN,156.62,nan
27,Canada,bangladesh-dhaka,Dhaka,NaN,134.89,nan
28,Canada,bangladesh,Other,NaN,107.91,nan
29,Canada,barbados-bridgetown,Bridgetown,NaN,178.23,nan
...,...,...,...,...,...,...
3344,US,vanuatu-santos,Santos,S1,293.00,103.00
3345,US,vanuatu-tanna-island,Tanna Island,S1,378.00,111.00
3346,US,venezuela,[Other],S1,484.00,206.00
3347,US,venezuela-barquisimeto,Barquisimeto,S1,562.00,299.00
3348,US,venezuela-caracas,Caracas,S1,575.00,261.00
3349,US,venezuela-maracaibo,Maracaibo,S1,563.00,287.00
3350,US,venezuela-porlamar,Porlamar,S1,547.00,281.00
3351,US,venezuela-puerto-la-cruz,Puerto La Cruz,S1,484.00,206.00
3352,US,venezuela-puerto-ordaz,Puerto Ordaz,S1,499.00,214.00
3353,US,venezuela-punto-fijo,Punto Fijo,S1,472.00,231.00
3354,US,venezuela-san-cristobal,San Cristobal,S1,546.00,268.00
3355,US,venezuela-valencia,Valencia,S1,505.00,256.00
3356,US,vietnam,[Other],S1,207.00,85.00
3357,US,vietnam-dalat,Dalat,S1,244.00,90.00
3358,US,vietnam-danang,Danang,S1,241.00,98.00
3359,US,vietnam-hanoi,Hanoi,S1,278.00,98.00
3360,US,vietnam-ho-chi-minh-city,Ho Chi Minh City,S1,306.00,86.00
3361,US,virgin-islands-british,"Virgin Islands, British",S1,238.00,100.00
3362,US,virgin-islands-british,"Virgin Islands, British",S2,297.00,105.00
3363,US,wallis-and-futuna,Wallis and Futuna,S1,137.00,64.00
3364,US,yemen,[Other],S1,173.00,65.00
3365,US,yemen-aden,Aden,S1,222.00,58.00
3366,US,yemen-sanaa,Sanaa,S1,455.00,95.00
3367,US,zambia,[Other],S1,175.00,80.00
3368,US,zambia-livingstone,Livingstone,S1,339.00,103.00
3369,US,zambia-lusaka,Lusaka,S1,285.00,95.00
3370,US,zimbabwe,[Other],S1,221.00,92.00
3371,US,zimbabwe-bulawayo,Bulawayo,S1,232.00,94.00
3372,US,zimbabwe-harare,Harare,S1,304.00,112.00
3373,US,zimbabwe-victoria-falls,Victoria Falls,S1,365.00,122.00

In [42]:
locations.describe()

         total  mealsAndIncidentals
count 3,374.00             1,113.00
mean    235.80               102.76
std     111.80                36.64
min       0.01                 1.00
25%     151.00                79.00
50%     222.00               100.00
75%     301.87               123.00
max     796.00               299.00

In [51]:
locations = rates.groupby(['slug', 'jurisdiction'])
locations.min(axis='total')

                                                                            location  \
slug                    jurisdiction
afghanistan             EU                                                       NaN
                        UN                                                 Elsewhere
                        US                                                   [Other]
afghanistan-kabul       UK                                                     Kabul
                        UN                                                     Kabul
                        US                                                     Kabul
albania                 Canada                                                 Other
                        EU                                                       NaN
                        UN                                                 Elsewhere
                        US                                                   [Other]
albania-durres          UN                           Durres (Adriatic, Hotel Palace)
albania-korca           UN                                Korca (Life Gallery Hotel)
albania-saranda         UN                            Saranda (Butrinti, Demi Hotel)
albania-shkodra         UN                                                   Shkodra
albania-tirana          Canada                                                Tirana
                        UK                                                    Tirana
                        UN                                                    Tirana
                        US                                                    Tirana
albania-vlore           UN                                                     Vlore
algeria                 Canada                                                 Other
                        EU                                                       NaN
                        UN                                                 Elsewhere
                        US                                                   [Other]
algeria-adrar           UN                                                     Adrar
algeria-algiers         Canada                                               Algiers
                        UK                                                   Algiers
                        UN                                                   Algiers
                        US                                                   Algiers
algeria-annaba          UN                               Annaba (Golden Tulip Sabri)
algeria-constantine     UN                                    Constantine (Marriott)
...                                                                              ...
zambia-chipata          UN                                                   Chipata
zambia-kitwe            UN                                                     Kitwe
zambia-livingstone      UN                                               Livingstone
                        US                                               Livingstone
zambia-lusaka           Canada                                                Lusaka
                        UK                                                    Lusaka
                        UN                                                    Lusaka
                        US                                                    Lusaka
zambia-ndola            UN                                                     Ndola
zambia-siavonga         UN            Siavonga (Lake Safari, Lake Kariba, Freshview)
zambia-solwezi          UN                                                   Solwezi
zimbabwe                Canada                                                 Other
                        EU                                                       NaN
                        UN                                                 Elsewhere
                        US                                                   [Other]
zimbabwe-bulawayo       UN                                                  Bulawayo
                        US                                                  Bulawayo
zimbabwe-chegutu        UN                                 Chegutu (Pamuzunda Hotel)
zimbabwe-harare         Canada                                                Harare
                        UK                                                    Harare
                        UN                                                    Harare
                        US                                                    Harare
zimbabwe-kadoma         UN                                                    Kadoma
zimbabwe-kariba         UN                                                    Kariba
zimbabwe-masvingo       UN                                                  Masvingo
zimbabwe-mutare         UN                                                    Mutare
zimbabwe-nyanga         UN                                                    Nyanga
zimbabwe-victoria-falls UN                                            Victoria Falls
                        US                                            Victoria Falls
zimbabwe-vumba          UN                                                     Vumba

                                     season  total  mealsAndIncidentals
slug                    jurisdiction
afghanistan             EU              NaN 250.82                  nan
                        UN              NaN  96.00                  nan
                        US               S1  15.00                15.00
afghanistan-kabul       UK              NaN 125.50                  nan
                        UN              NaN 162.00                  nan
                        US               S1  33.00                33.00
albania                 Canada          NaN  33.90                  nan
                        EU              NaN 209.98                  nan
                        UN              NaN  78.00                  nan
                        US               S1 131.00                42.00
albania-durres          UN              NaN 200.00                  nan
albania-korca           UN              NaN 116.00                  nan
albania-saranda         UN              NaN 139.00                  nan
albania-shkodra         UN              NaN 133.00                  nan
albania-tirana          Canada          NaN  42.38                  nan
                        UK              NaN 223.89                  nan
                        UN              NaN 147.00                  nan
                        US               S1 285.00                95.00
albania-vlore           UN              NaN 106.00                  nan
algeria                 Canada          NaN 107.56                  nan
                        EU              NaN 387.31                  nan
                        UN              NaN 171.00                  nan
                        US               S1 304.00               112.00
algeria-adrar           UN              NaN 176.00                  nan
algeria-algiers         Canada          NaN 134.44                  nan
                        UK              NaN 286.55                  nan
                        UN              NaN 211.00                  nan
                        US               S1 255.00                75.00
algeria-annaba          UN              NaN 201.00                  nan
algeria-constantine     UN              NaN 208.00                  nan
...                                     ...    ...                  ...
zambia-chipata          UN              NaN 137.00                  nan
zambia-kitwe            UN              NaN 219.00                  nan
zambia-livingstone      UN              NaN 187.00                  nan
                        US               S1 339.00               103.00
zambia-lusaka           Canada          NaN  99.66                  nan
                        UK              NaN 127.90                  nan
                        UN              NaN 246.00                  nan
                        US               S1 285.00                95.00
zambia-ndola            UN              NaN 289.00                  nan
zambia-siavonga         UN              NaN 174.00                  nan
zambia-solwezi          UN              NaN 183.00                  nan
zimbabwe                Canada          NaN  87.38                  nan
                        EU              NaN 232.15                  nan
                        UN              NaN 110.00                  nan
                        US               S1 221.00                92.00
zimbabwe-bulawayo       UN              NaN 151.00                  nan
                        US               S1 232.00                94.00
zimbabwe-chegutu        UN              NaN 189.00                  nan
zimbabwe-harare         Canada          NaN 109.23                  nan
                        UK              NaN 279.50                  nan
                        UN              NaN 188.00                  nan
                        US               S1 304.00               112.00
zimbabwe-kadoma         UN              NaN 160.00                  nan
zimbabwe-kariba         UN              NaN 157.00                  nan
zimbabwe-masvingo       UN              NaN 127.00                  nan
zimbabwe-mutare         UN              NaN 156.00                  nan
zimbabwe-nyanga         UN              NaN 150.00                  nan
zimbabwe-victoria-falls UN              NaN 199.00                  nan
                        US               S1 365.00               122.00
zimbabwe-vumba          UN              NaN 152.00                  nan

[3010 rows x 4 columns]

In [53]:
#locations['EU diff'] = (locations['US'] - locations['EU']) / locations['US']
#locations['UN diff'] = (locations['US'] - locations['UN']) / locations['US']
#locations['Canada diff'] = (locations['US meals & incidentals'] - locations['Canada']) / locations['US meals & incidentals']
#locations['UK diff'] = (locations['US'] - locations['UK']) / locations['US']

In [ ]:
#diffs = locations[['EU diff','UN diff','Canada diff','UK diff']]

In [52]:
#diffs.describe()