In [1]:
import pandas as pd

In [2]:
pd.options.display.float_format = '{:,.2f}'.format

In [3]:
rates = pd.read_csv("results.csv")

rates

,jurisdiction,slug,location,season,total,mealsAndIncidentals
0,Canada,albania-tirana,Tirana,NaN,42.38,nan
1,Canada,albania,Other,NaN,33.90,nan
2,Canada,algeria-algiers,Algiers,NaN,134.44,nan
3,Canada,algeria,Other,NaN,107.56,nan
4,Canada,angola-luanda,Luanda,NaN,262.80,nan
5,Canada,angola,Other,NaN,210.24,nan
6,Canada,anguilla-the-valley,The Valley,NaN,174.44,nan
7,Canada,antigua-and-barbuda-st.-john's,St. John's,NaN,226.45,nan
8,Canada,argentina-buenos-aires,Buenos Aires,NaN,95.03,nan
9,Canada,argentina,Other,NaN,76.02,nan
10,Canada,armenia-yerevan,Yerevan,NaN,82.50,nan
11,Canada,aruba-(kingdom-of-the-netherlands)-oranjestad,Oranjestad,NaN,141.70,nan
12,Canada,australia-adelaide,Adelaide,NaN,166.94,nan
13,Canada,australia-brisbane,Brisbane,NaN,182.53,nan
14,Canada,australia-canberra,Canberra,NaN,153.45,nan
15,Canada,australia-hobart,Hobart,NaN,155.14,nan
16,Canada,australia-melbourne,Melbourne,NaN,178.68,nan
17,Canada,australia-perth,Perth,NaN,174.93,nan
18,Canada,australia-sydney,Sydney,NaN,192.12,nan
19,Canada,australia,Other,NaN,122.76,nan
20,Canada,austria-graz,Graz,NaN,157.37,nan
21,Canada,austria-salzburg,Salzburg,NaN,161.61,nan
22,Canada,austria-vienna,Vienna,NaN,187.01,nan
23,Canada,austria,Other,NaN,149.61,nan
24,Canada,azerbaijan-baku,Baku,NaN,120.25,nan
25,Canada,bahamas-nassau,Nassau,NaN,170.08,nan
26,Canada,bahrain-manama,Manama,NaN,156.62,nan
27,Canada,bangladesh-dhaka,Dhaka,NaN,134.89,nan
28,Canada,bangladesh,Other,NaN,107.91,nan
29,Canada,barbados-bridgetown,Bridgetown,NaN,178.23,nan
...,...,...,...,...,...,...
3344,US,vanuatu-santos,Santos,S1,293.00,103.00
3345,US,vanuatu-tanna-island,Tanna Island,S1,378.00,111.00
3346,US,venezuela,[Other],S1,484.00,206.00
3347,US,venezuela-barquisimeto,Barquisimeto,S1,562.00,299.00
3348,US,venezuela-caracas,Caracas,S1,575.00,261.00
3349,US,venezuela-maracaibo,Maracaibo,S1,563.00,287.00
3350,US,venezuela-porlamar,Porlamar,S1,547.00,281.00
3351,US,venezuela-puerto-la-cruz,Puerto La Cruz,S1,484.00,206.00
3352,US,venezuela-puerto-ordaz,Puerto Ordaz,S1,499.00,214.00
3353,US,venezuela-punto-fijo,Punto Fijo,S1,472.00,231.00
3354,US,venezuela-san-cristobal,San Cristobal,S1,546.00,268.00
3355,US,venezuela-valencia,Valencia,S1,505.00,256.00
3356,US,vietnam,[Other],S1,207.00,85.00
3357,US,vietnam-dalat,Dalat,S1,244.00,90.00
3358,US,vietnam-danang,Danang,S1,241.00,98.00
3359,US,vietnam-hanoi,Hanoi,S1,278.00,98.00
3360,US,vietnam-ho-chi-minh-city,Ho Chi Minh City,S1,306.00,86.00
3361,US,virgin-islands-british,"Virgin Islands, British",S1,238.00,100.00
3362,US,virgin-islands-british,"Virgin Islands, British",S2,297.00,105.00
3363,US,wallis-and-futuna,Wallis and Futuna,S1,137.00,64.00
3364,US,yemen,[Other],S1,173.00,65.00
3365,US,yemen-aden,Aden,S1,222.00,58.00
3366,US,yemen-sanaa,Sanaa,S1,455.00,95.00
3367,US,zambia,[Other],S1,175.00,80.00
3368,US,zambia-livingstone,Livingstone,S1,339.00,103.00
3369,US,zambia-lusaka,Lusaka,S1,285.00,95.00
3370,US,zimbabwe,[Other],S1,221.00,92.00
3371,US,zimbabwe-bulawayo,Bulawayo,S1,232.00,94.00
3372,US,zimbabwe-harare,Harare,S1,304.00,112.00
3373,US,zimbabwe-victoria-falls,Victoria Falls,S1,365.00,122.00

In [4]:
rates['total'].hist()

In [5]:
us_rates = rates[rates['jurisdiction'] == 'US']
other_rates = rates[rates['jurisdiction'] != 'US']

us_vs_other_rates = us_rates.merge(other_rates, on='slug', how='inner')

us_vs_other_rates

,jurisdiction_x,slug,location_x,season_x,total_x,mealsAndIncidentals_x,jurisdiction_y,location_y,season_y,total_y,mealsAndIncidentals_y
0,US,afghanistan,[Other],S1,15.00,15.00,EU,NaN,NaN,250.82,nan
1,US,afghanistan,[Other],S1,15.00,15.00,UN,Elsewhere,NaN,96.00,nan
2,US,afghanistan-kabul,Kabul,S1,33.00,33.00,UK,Kabul,NaN,125.50,nan
3,US,afghanistan-kabul,Kabul,S1,33.00,33.00,UN,Kabul,NaN,162.00,nan
4,US,afghanistan-kabul,Kabul,S1,33.00,33.00,UN,Kabul (Kabul Serena),NaN,290.00,nan
5,US,albania,[Other],S1,131.00,42.00,Canada,Other,NaN,33.90,nan
6,US,albania,[Other],S1,131.00,42.00,EU,NaN,NaN,209.98,nan
7,US,albania,[Other],S1,131.00,42.00,UN,Elsewhere,NaN,78.00,nan
8,US,albania-tirana,Tirana,S1,285.00,95.00,Canada,Tirana,NaN,42.38,nan
9,US,albania-tirana,Tirana,S1,285.00,95.00,UK,Tirana,NaN,223.89,nan
10,US,albania-tirana,Tirana,S1,285.00,95.00,UN,Tirana,NaN,147.00,nan
11,US,albania-tirana,Tirana,S1,285.00,95.00,UN,Tirana (Rogner),NaN,165.00,nan
12,US,albania-tirana,Tirana,S1,285.00,95.00,UN,Tirana (Sheraton),NaN,193.00,nan
13,US,algeria,[Other],S1,304.00,112.00,Canada,Other,NaN,107.56,nan
14,US,algeria,[Other],S1,304.00,112.00,EU,NaN,NaN,387.31,nan
15,US,algeria,[Other],S1,304.00,112.00,UN,Elsewhere,NaN,171.00,nan
16,US,algeria-algiers,Algiers,S1,255.00,75.00,Canada,Algiers,NaN,134.44,nan
17,US,algeria-algiers,Algiers,S1,255.00,75.00,UK,Algiers,NaN,286.55,nan
18,US,algeria-algiers,Algiers,S1,255.00,75.00,UN,Algiers,NaN,211.00,nan
19,US,algeria-algiers,Algiers,S1,255.00,75.00,UN,"Algiers (El-Aurassi, El-Djazair, Mercure)",NaN,356.00,nan
20,US,algeria-algiers,Algiers,S1,255.00,75.00,UN,"Algiers (Hilton, Sheraton)",NaN,456.00,nan
21,US,algeria-algiers,Algiers,S1,255.00,75.00,UN,Algiers (Sofitel),NaN,420.00,nan
22,US,angola,[Other],S1,575.00,170.00,Canada,Other,NaN,210.24,nan
23,US,angola,[Other],S1,575.00,170.00,EU,NaN,NaN,440.97,nan
24,US,angola,[Other],S1,575.00,170.00,UN,Elsewhere,NaN,159.00,nan
25,US,angola-luanda,Luanda,S1,575.00,170.00,Canada,Luanda,NaN,262.80,nan
26,US,angola-luanda,Luanda,S1,575.00,170.00,UK,Luanda,NaN,495.84,nan
27,US,angola-luanda,Luanda,S1,575.00,170.00,UN,Luanda,NaN,400.00,nan
28,US,angola-luanda,Luanda,S1,575.00,170.00,UN,"Luanda (Baia, Presidente, Tropico)",NaN,455.00,nan
29,US,angola-luanda,Luanda,S1,575.00,170.00,UN,Luanda (Skyna),NaN,530.00,nan
...,...,...,...,...,...,...,...,...,...,...,...
1321,US,vietnam,[Other],S1,207.00,85.00,Canada,Other,NaN,96.77,nan
1322,US,vietnam,[Other],S1,207.00,85.00,UN,Elsewhere,NaN,69.00,nan
1323,US,vietnam-hanoi,Hanoi,S1,278.00,98.00,Canada,Hanoi,NaN,120.97,nan
1324,US,vietnam-hanoi,Hanoi,S1,278.00,98.00,UK,Hanoi,NaN,240.00,nan
1325,US,vietnam-hanoi,Hanoi,S1,278.00,98.00,UN,Hanoi,NaN,168.00,nan
1326,US,vietnam-ho-chi-minh-city,Ho Chi Minh City,S1,306.00,86.00,Canada,Ho Chi Minh City,NaN,112.46,nan
1327,US,vietnam-ho-chi-minh-city,Ho Chi Minh City,S1,306.00,86.00,UK,Ho Chi Minh City,NaN,231.00,nan
1328,US,vietnam-ho-chi-minh-city,Ho Chi Minh City,S1,306.00,86.00,UN,Ho Chi Minh City,NaN,159.00,nan
1329,US,yemen,[Other],S1,173.00,65.00,Canada,Other,NaN,62.83,nan
1330,US,yemen,[Other],S1,173.00,65.00,EU,NaN,NaN,165.65,nan
1331,US,yemen-aden,Aden,S1,222.00,58.00,Canada,Aden,NaN,68.38,nan
1332,US,zambia,[Other],S1,175.00,80.00,Canada,Other,NaN,79.73,nan
1333,US,zambia,[Other],S1,175.00,80.00,EU,NaN,NaN,228.65,nan
1334,US,zambia,[Other],S1,175.00,80.00,UN,Elsewhere,NaN,128.00,nan
1335,US,zambia-livingstone,Livingstone,S1,339.00,103.00,UN,Livingstone,NaN,187.00,nan
1336,US,zambia-livingstone,Livingstone,S1,339.00,103.00,UN,"Livingstone (Protea, David Livingstone, Avani ...",NaN,445.00,nan
1337,US,zambia-lusaka,Lusaka,S1,285.00,95.00,Canada,Lusaka,NaN,99.66,nan
1338,US,zambia-lusaka,Lusaka,S1,285.00,95.00,UK,Lusaka,NaN,127.90,nan
1339,US,zambia-lusaka,Lusaka,S1,285.00,95.00,UN,Lusaka,NaN,246.00,nan
1340,US,zambia-lusaka,Lusaka,S1,285.00,95.00,UN,Lusaka (Intercontinental Hotel),NaN,313.00,nan
1341,US,zambia-lusaka,Lusaka,S1,285.00,95.00,UN,"Lusaka (Protea Arcade, Southern Sun Ridgeway, ...",NaN,343.00,nan
1342,US,zimbabwe,[Other],S1,221.00,92.00,Canada,Other,NaN,87.38,nan
1343,US,zimbabwe,[Other],S1,221.00,92.00,EU,NaN,NaN,232.15,nan
1344,US,zimbabwe,[Other],S1,221.00,92.00,UN,Elsewhere,NaN,110.00,nan
1345,US,zimbabwe-bulawayo,Bulawayo,S1,232.00,94.00,UN,Bulawayo,NaN,151.00,nan
1346,US,zimbabwe-harare,Harare,S1,304.00,112.00,Canada,Harare,NaN,109.23,nan
1347,US,zimbabwe-harare,Harare,S1,304.00,112.00,UK,Harare,NaN,279.50,nan
1348,US,zimbabwe-harare,Harare,S1,304.00,112.00,UN,Harare,NaN,188.00,nan
1349,US,zimbabwe-victoria-falls,Victoria Falls,S1,365.00,122.00,UN,Victoria Falls,NaN,199.00,nan
1350,US,zimbabwe-victoria-falls,Victoria Falls,S1,365.00,122.00,UN,Victoria Falls (Victoria Falls Hotel),NaN,293.00,nan

In [35]:
us_vs_other_rates['diff'] = (us_vs_other_rates['total_x'] - us_vs_other_rates['total_y']) / us_vs_other_rates['total_x']
 
us_vs_other_rates['diff'] = us_vs_other_rates['diff'].where(
    us_vs_other_rates['jurisdiction_y'] == 'Canada',
    (us_vs_other_rates['mealsAndIncidentals_x'] - us_vs_other_rates['total_y']) / us_vs_other_rates['mealsAndIncidentals_x']
)

us_vs_other_rates

,jurisdiction_x,slug,location_x,season_x,total_x,mealsAndIncidentals_x,jurisdiction_y,location_y,season_y,total_y,mealsAndIncidentals_y,diff
0,US,afghanistan,[Other],S1,15.00,15.00,EU,NaN,NaN,250.82,nan,-15.72
1,US,afghanistan,[Other],S1,15.00,15.00,UN,Elsewhere,NaN,96.00,nan,-5.40
2,US,afghanistan-kabul,Kabul,S1,33.00,33.00,UK,Kabul,NaN,125.50,nan,-2.80
3,US,afghanistan-kabul,Kabul,S1,33.00,33.00,UN,Kabul,NaN,162.00,nan,-3.91
4,US,afghanistan-kabul,Kabul,S1,33.00,33.00,UN,Kabul (Kabul Serena),NaN,290.00,nan,-7.79
5,US,albania,[Other],S1,131.00,42.00,Canada,Other,NaN,33.90,nan,0.74
6,US,albania,[Other],S1,131.00,42.00,EU,NaN,NaN,209.98,nan,-4.00
7,US,albania,[Other],S1,131.00,42.00,UN,Elsewhere,NaN,78.00,nan,-0.86
8,US,albania-tirana,Tirana,S1,285.00,95.00,Canada,Tirana,NaN,42.38,nan,0.85
9,US,albania-tirana,Tirana,S1,285.00,95.00,UK,Tirana,NaN,223.89,nan,-1.36
10,US,albania-tirana,Tirana,S1,285.00,95.00,UN,Tirana,NaN,147.00,nan,-0.55
11,US,albania-tirana,Tirana,S1,285.00,95.00,UN,Tirana (Rogner),NaN,165.00,nan,-0.74
12,US,albania-tirana,Tirana,S1,285.00,95.00,UN,Tirana (Sheraton),NaN,193.00,nan,-1.03
13,US,algeria,[Other],S1,304.00,112.00,Canada,Other,NaN,107.56,nan,0.65
14,US,algeria,[Other],S1,304.00,112.00,EU,NaN,NaN,387.31,nan,-2.46
15,US,algeria,[Other],S1,304.00,112.00,UN,Elsewhere,NaN,171.00,nan,-0.53
16,US,algeria-algiers,Algiers,S1,255.00,75.00,Canada,Algiers,NaN,134.44,nan,0.47
17,US,algeria-algiers,Algiers,S1,255.00,75.00,UK,Algiers,NaN,286.55,nan,-2.82
18,US,algeria-algiers,Algiers,S1,255.00,75.00,UN,Algiers,NaN,211.00,nan,-1.81
19,US,algeria-algiers,Algiers,S1,255.00,75.00,UN,"Algiers (El-Aurassi, El-Djazair, Mercure)",NaN,356.00,nan,-3.75
20,US,algeria-algiers,Algiers,S1,255.00,75.00,UN,"Algiers (Hilton, Sheraton)",NaN,456.00,nan,-5.08
21,US,algeria-algiers,Algiers,S1,255.00,75.00,UN,Algiers (Sofitel),NaN,420.00,nan,-4.60
22,US,angola,[Other],S1,575.00,170.00,Canada,Other,NaN,210.24,nan,0.63
23,US,angola,[Other],S1,575.00,170.00,EU,NaN,NaN,440.97,nan,-1.59
24,US,angola,[Other],S1,575.00,170.00,UN,Elsewhere,NaN,159.00,nan,0.06
25,US,angola-luanda,Luanda,S1,575.00,170.00,Canada,Luanda,NaN,262.80,nan,0.54
26,US,angola-luanda,Luanda,S1,575.00,170.00,UK,Luanda,NaN,495.84,nan,-1.92
27,US,angola-luanda,Luanda,S1,575.00,170.00,UN,Luanda,NaN,400.00,nan,-1.35
28,US,angola-luanda,Luanda,S1,575.00,170.00,UN,"Luanda (Baia, Presidente, Tropico)",NaN,455.00,nan,-1.68
29,US,angola-luanda,Luanda,S1,575.00,170.00,UN,Luanda (Skyna),NaN,530.00,nan,-2.12
...,...,...,...,...,...,...,...,...,...,...,...,...
1321,US,vietnam,[Other],S1,207.00,85.00,Canada,Other,NaN,96.77,nan,0.53
1322,US,vietnam,[Other],S1,207.00,85.00,UN,Elsewhere,NaN,69.00,nan,0.19
1323,US,vietnam-hanoi,Hanoi,S1,278.00,98.00,Canada,Hanoi,NaN,120.97,nan,0.56
1324,US,vietnam-hanoi,Hanoi,S1,278.00,98.00,UK,Hanoi,NaN,240.00,nan,-1.45
1325,US,vietnam-hanoi,Hanoi,S1,278.00,98.00,UN,Hanoi,NaN,168.00,nan,-0.71
1326,US,vietnam-ho-chi-minh-city,Ho Chi Minh City,S1,306.00,86.00,Canada,Ho Chi Minh City,NaN,112.46,nan,0.63
1327,US,vietnam-ho-chi-minh-city,Ho Chi Minh City,S1,306.00,86.00,UK,Ho Chi Minh City,NaN,231.00,nan,-1.69
1328,US,vietnam-ho-chi-minh-city,Ho Chi Minh City,S1,306.00,86.00,UN,Ho Chi Minh City,NaN,159.00,nan,-0.85
1329,US,yemen,[Other],S1,173.00,65.00,Canada,Other,NaN,62.83,nan,0.64
1330,US,yemen,[Other],S1,173.00,65.00,EU,NaN,NaN,165.65,nan,-1.55
1331,US,yemen-aden,Aden,S1,222.00,58.00,Canada,Aden,NaN,68.38,nan,0.69
1332,US,zambia,[Other],S1,175.00,80.00,Canada,Other,NaN,79.73,nan,0.54
1333,US,zambia,[Other],S1,175.00,80.00,EU,NaN,NaN,228.65,nan,-1.86
1334,US,zambia,[Other],S1,175.00,80.00,UN,Elsewhere,NaN,128.00,nan,-0.60
1335,US,zambia-livingstone,Livingstone,S1,339.00,103.00,UN,Livingstone,NaN,187.00,nan,-0.82
1336,US,zambia-livingstone,Livingstone,S1,339.00,103.00,UN,"Livingstone (Protea, David Livingstone, Avani ...",NaN,445.00,nan,-3.32
1337,US,zambia-lusaka,Lusaka,S1,285.00,95.00,Canada,Lusaka,NaN,99.66,nan,0.65
1338,US,zambia-lusaka,Lusaka,S1,285.00,95.00,UK,Lusaka,NaN,127.90,nan,-0.35
1339,US,zambia-lusaka,Lusaka,S1,285.00,95.00,UN,Lusaka,NaN,246.00,nan,-1.59
1340,US,zambia-lusaka,Lusaka,S1,285.00,95.00,UN,Lusaka (Intercontinental Hotel),NaN,313.00,nan,-2.29
1341,US,zambia-lusaka,Lusaka,S1,285.00,95.00,UN,"Lusaka (Protea Arcade, Southern Sun Ridgeway, ...",NaN,343.00,nan,-2.61
1342,US,zimbabwe,[Other],S1,221.00,92.00,Canada,Other,NaN,87.38,nan,0.60
1343,US,zimbabwe,[Other],S1,221.00,92.00,EU,NaN,NaN,232.15,nan,-1.52
1344,US,zimbabwe,[Other],S1,221.00,92.00,UN,Elsewhere,NaN,110.00,nan,-0.20
1345,US,zimbabwe-bulawayo,Bulawayo,S1,232.00,94.00,UN,Bulawayo,NaN,151.00,nan,-0.61
1346,US,zimbabwe-harare,Harare,S1,304.00,112.00,Canada,Harare,NaN,109.23,nan,0.64
1347,US,zimbabwe-harare,Harare,S1,304.00,112.00,UK,Harare,NaN,279.50,nan,-1.50
1348,US,zimbabwe-harare,Harare,S1,304.00,112.00,UN,Harare,NaN,188.00,nan,-0.68
1349,US,zimbabwe-victoria-falls,Victoria Falls,S1,365.00,122.00,UN,Victoria Falls,NaN,199.00,nan,-0.63
1350,US,zimbabwe-victoria-falls,Victoria Falls,S1,365.00,122.00,UN,Victoria Falls (Victoria Falls Hotel),NaN,293.00,nan,-1.40

In [7]:
us_vs_other_rates['diff'].describe()

count   1,351.00
mean        0.09
std         1.58
min       -39.55
25%         0.02
50%         0.27
75%         0.52
max         1.00
Name: diff, dtype: float64

In [8]:
us_vs_other_rates[us_vs_other_rates['diff'] < -10]

,jurisdiction_x,slug,location_x,season_x,total_x,mealsAndIncidentals_x,jurisdiction_y,location_y,season_y,total_y,mealsAndIncidentals_y,diff
0,US,afghanistan,[Other],S1,15.00,15.00,EU,NaN,NaN,250.82,nan,-15.72
619,US,iraq-baghdad,Baghdad,S1,11.00,11.00,UN,Baghdad,NaN,275.00,nan,-24.00
620,US,iraq-baghdad,Baghdad,S1,11.00,11.00,UN,Baghdad (Al Rasheed Hotel),NaN,446.00,nan,-39.55
750,US,libya-tripoli,Tripoli,S1,21.00,21.00,UN,"Tripoli (Albustan, Corinthia, Radisson Blu)",NaN,335.00,nan,-14.95
1302,US,vanuatu,[Other],S1,33.00,13.00,EU,NaN,NaN,394.31,nan,-10.95

In [9]:
us_vs_other_rates[us_vs_other_rates['diff'] > 0.9]

,jurisdiction_x,slug,location_x,season_x,total_x,mealsAndIncidentals_x,jurisdiction_y,location_y,season_y,total_y,mealsAndIncidentals_y,diff
1174,US,syria,[Other],S1,344.00,108.00,Canada,Other,NaN,0.03,nan,1.00
1175,US,syria-damascus,Damascus,S1,344.00,108.00,Canada,Damascus,NaN,0.03,nan,1.00
1311,US,venezuela,[Other],S1,484.00,206.00,UK,Elsewhere,NaN,0.05,nan,1.00
1312,US,venezuela,[Other],S1,484.00,206.00,UN,Elsewhere,NaN,47.00,nan,0.90
1314,US,venezuela-caracas,Caracas,S1,575.00,261.00,UK,Caracas,NaN,0.06,nan,1.00
1319,US,venezuela-san-cristobal,San Cristobal,S1,546.00,268.00,UN,San Cristobal,NaN,52.00,nan,0.90
1320,US,venezuela-valencia,Valencia,S1,505.00,256.00,UK,Valencia,NaN,0.04,nan,1.00

In [34]:
min_diff = pd.DataFrame(us_vs_other_rates.groupby(['slug','jurisdiction_y'])['diff'].min()).reset_index()

min_diff.groupby('jurisdiction_y').describe()

                 diff
                count  mean  std    min   25%   50%  75%  max
jurisdiction_y
Canada         319.00  0.57 0.42  -5.77  0.53  0.60 0.68 1.00
EU             174.00 -0.45 1.56 -15.72 -0.58 -0.19 0.08 0.67
UK             208.00  0.21 0.33  -2.80  0.09  0.23 0.38 1.00
UN             447.00 -0.03 2.11 -39.55 -0.04  0.19 0.38 0.90

In [33]:
max_diff = pd.DataFrame(us_vs_other_rates.groupby(['slug','jurisdiction_y'])['diff'].max()).reset_index(level='slug')

max_diff.groupby('jurisdiction_y').describe()

                 diff
                count  mean  std    min   25%   50%  75%  max
jurisdiction_y
Canada         319.00  0.57 0.42  -5.77  0.53  0.61 0.68 1.00
EU             174.00 -0.40 1.50 -15.72 -0.55 -0.16 0.08 0.67
UK             208.00  0.21 0.33  -2.80  0.09  0.23 0.38 1.00
UN             447.00  0.14 1.32 -24.00  0.08  0.27 0.44 0.90